<section class="mission-section">
    <div class="container">
        <div class="mission-grid">
            <div class="mission-content">
                <h1>Privacy Policy</h1>

                <h3 class="mission-text">App/Websites/Servers</h3>

                <p class="mission-text">This software is provided with no warranty.</p>

                <p class="mission-text">Nostria does not currently collect any information about you as a person. This
                    can change in the future, with new features available. A change to the privacy policy, will be
                    announced.</p>

                <p class="mission-text">When Nostria is installed through the Google Play or Apple App Store, there is
                    information stored
                    with Google and
                    Microsoft, about installations and uninstalls and more. This information is only accessible to
                    Nostria management.
                </p>

                <p class="mission-text">Our Servers might write technical cookies for load balancing and scaling.</p>

                <p class="mission-text">Our App and Servers does not write cookies for tracking or advertisement
                    purposes.</p>

                <p class="mission-text">All data you publish on Nostria, will be stored and accessible to the public.
                </p>

                <p class="mission-text">
                    <strong>Changes to privacy policy</strong><br>
                    We reserve the right to modify the Privacy Policy at any time. Continued use of the App after such
                    modifications constitutes acceptance of the updated Privacy Policy.
                </p>
                <p class="mission-text">Last updated: 2025-05-05</p>

            </div>
        </div>
    </div>
</section>